body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: lightseagreen;
}

#quiz-container,
#score-container {
  background-color: white;
  width: 50%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
}

h1 {
  color: seagreen;
}

h2 {
  color: goldenrod;
}

#next-button,
#restart-button {
  cursor: pointer;
}

.hidden {
  display: none;
}
